.nav {
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    h2 {
        padding: 2rem 5rem;
        font-size: 5rem;
        font-weight: 1000;
    }
}
@media(max-width:900px){
    .nav{
        h2{
            font-size: 3rem;
        }
    }
}